.swiperContainer{
  margin: 0 auto ;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    .swiper {
        width: 100%;
        height: 100%;
       
      }
      
      .swiper-slide {
      
        text-align: center;
        font-size: 18px;
        border-radius: 20px;  
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        // align-items: center; background-image: url("../../projects route/blurhash/defaultImage/istockphoto-1147544807-612x612.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
       
      }
      .skeleton_div{
        width: 100%;
        height: 100%;
      }
      .mySwiperImg{
        display: block;
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        //  background-image: url("../../projects route/blurhash/defaultImage/istockphoto-1147544807-612x612.jpg");
    //  height: 300px;
      border-radius: 20px;
      }
      
      .swiper-slide img {
        display: block;
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        //  background-image: url("../../projects route/blurhash/defaultImage/istockphoto-1147544807-612x612.jpg");
    //  height: 300px;
      border-radius: 20px;
    }

}

  @media screen and (max-width:600px){
    .swiperContainer{
      margin: 0 auto ;
        width: 90%;
        height: 300px;
        overflow: hidden;
        .swiper {
           
          }
          
          .swiper-slide {

            text-align: center;
            font-size: 18px;
            border-radius: 20px;  
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            height: 100%;
            // background-image: url("../../projects route/blurhash/defaultImage/istockphoto-1147544807-612x612.jpg");
            // background-size: cover;
            // background-repeat: no-repeat;
           
          }
          .skeleton_div{
            width: 100%;
            height: 100%;
          }
          .swiper-slide img {
            display: block;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
 
        }
        .mySwiperImg{
          display: block;
          min-width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        
     
        }
    
    }
  }