.about{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7rem;
   
}
.left-about{
  padding: 2rem;
    img{
        width: 100%;
        height: 50%;
    }
}
.right-about{
  
    padding: 2rem;
    text-align: center;
    h1,p{
        color: #ffffffbf;
    }
}
@media screen and (max-width: 600px) {
    .about{
       
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 17rem;
        margin: 5rem 1rem 1rem 1rem
       
    }
    .left-about{
       
       height: 50vh;
          img{
          
              height: 70%;
          }
      }
  }