.project-home{
    height: 100vh;
    
    margin-top: 10rem;
}
.project-inner{
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-image{
    width: 90%;
    height: 65vh;

    
    img, video{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}
.second-image{
  
    height: 65vh;
    margin: 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30rem 30rem;
    gap: 1rem;
    
}
.pic img{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 600px) {
    .project-inner{
        height: 80vh;
        display: block ;
        margin: 2rem;
        max-width: 600px
        
    }
    .second-image{
  
        height: 100vh;
        margin: 5rem 4rem;
        display: block;
    }
    .right-text{
        text-align:center ;
        margin: 1rem;
    }
}