
.slider {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark);
    
    
  }
  .slider-dark{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.679);
    z-index: 1;
    }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  
  @media screen and (min-width: 600px) {
    .slide img {
      width: 100%;
      height: 100%;
    }
  }
  
  .slide img {
    height: 90%;
  }
  
  .content {
    position: absolute;
    // text-align: center;
    height: 500px;
    top: 23rem;
    left: 50%;
    opacity: 0;
    width: 50%;
    // padding: 3rem;
    display: flex;
    justify-self: center;
    align-items: start;
    flex-direction: column;
    transform: translateX(-50%);
    // background: rgb(0, 0, 0);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    z-index: 2;
    //   visibility: hidden;
    h2 {
      margin-top: 2rem;
      font-size: 4.5rem;
    }
    .content-hr{
      width: 100%;
      display: flex;
     
      padding-bottom: 5rem;

    }
  }
  .slider-content2{
    width:919px;
    height:150px;
    background: #9B934A;
    position: absolute;
    bottom: 0;
    right: 0;
    border: transparent

    ;
  }
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .content {
      width: 80%;
    }
  }
  
  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  
  .current .content {
    opacity: 1;
  }
  .arrow {
    border: 2.5px solid #fff;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .arrow:hover {
    background:var(--color-dark);
    transition: 1s ease;
  }
  
  .next {
    right: 1.5rem;
    color: #fff;
  }
  .prev {
    left: 1.5rem;
    color: #fff;
  }
  
  hr {
    height: 150px;
    margin-bottom: 1.5rem;
    background: #fff;
    width: 2px;
    transform: translateY(50%); 
    
  }
  