
.slider {
    width: 100%;
    height: 95vh;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark);
    
    
  }
  .slider-dark{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.679);
    z-index: 1;
    }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  

  
  .slide img {
    height: 95%;
    width: 100%;
  }
  
  .content {
    position: absolute;
    // text-align: center;
    height: 400px;
    left: 50%;
    opacity: 0;
    width: 50%;
    left: 30%;
    padding-bottom: 5rem;
    display: block;
    justify-self: start;
    align-items: flex-start;
    flex-direction: row;
    // transform: translateX(-50%);
    transform: translateY(-20%);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    z-index: 2;
    //   visibility: hidden;
    .seeProject{
      display: flex;
      width: 500px;
      color: #fff;
      z-index: 3;
      h5{
        color: white;
        margin-left: 1rem;
      }
    }
    h2 {
      margin-top: 1rem;
      font-size: 4.5rem;
      cursor: pointer;
    }
   
    .content-hr{
      width: 100%;
      display: flex;
      padding-bottom: 5rem;

    }
  }
  .slider-content2{
    width:719px;
    height:150px;
    background: #9B934A;
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: transparent;
   .content2-inner{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content2-icon{
      display: block;
    }
    h2, h1, h3{
      color: white;
      font-size: 1rem;
     
    }
    h3{
      font-size: 1.5rem;
      font-size: 500;
    }
    h1{
      font-size: 2rem;
      font-weight: 500;
    }
    
  }
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
  }
  
 
  
  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  
  .current .content {
    opacity: 1;
  }
  .arrow {
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    cursor: pointer;
    // position: absolute;
    // top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .arrow:hover {
    background:var(--color-dark);
    transition: 1s ease;
  }
  
  .next {
    // right: 1.5rem;
    color: #fff;
  }
  .prev {
    // left: 1.5rem;
    color: #fff;
  }
  
  hr {
    height: 120px;
    margin-bottom: 1rem;
    background: #fff;
    width: 2px;
    transform: translateY(50%); 
    
  }
  
  @media screen and (max-width: 600px) {
    .content {
      width: 80%;
      padding-bottom: 1rem;
      h2 {
        margin-top: 1rem;
        font-size: 2.5rem;
        cursor: pointer;
      }
    }
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slider-content2{
      width:100%;
      height:120px;
      padding: 1rem;
    }
    hr {
      height: 80px;
      margin-bottom: .5rem;
      background: #fff;
      width: 2px;
      transform: translateY(50%); 
      
    }
  }