.footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    background: #000;
    height: 10rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    ul{
        display: flex
    }
    li{
        font-size: 1.5rem;
        list-style: none;
        margin: 1rem;
        margin-left: 4rem;


    }
    a{
        color: #fff;
        cursor: pointer;
    }
    a:hover{
        color: #9B934A;
        font-size: larger;
    }
    .inputDiv{
        margin: 1rem;
        margin-left: 4rem;
        display: flex;
        input{
            height: 35px;
            width:150px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ffffffd2;
        }
        input::placeholder{
            color:#9B934A;
            font-size: 10px;
        }
        button{
            height: 35px;
            border-radius: 0 5px 5px 0;
            background: #9B934A;
            color: #fff;
        }
    }
}